<main>
  <%= form_with model: @plant, url: plant_path(@plant), local: true do |form| %>
    <div class="container">
      <div class="row row-cols-1 justify-content-center">
        <div class="card mb-2 shadow-sm" style="width: auto;">
          <div class="card-header d-flex align-items-center">
            <h3>植物を編集する</h3>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="field">
                <div class="d-flex justify-content-center" id="new-post-image"><%= image_tag @plant.image, alt: "植物画像", class: "img-fluid" %></div>
                <%= form.label :image, "画像", class: "form-label" %><br />
                <%= form.file_field :image, id: "item-image", class: "form-control", id: "post_image" %>
              </div>
            </li>
            <li class="list-group-item">
              <div class="field">
                <%= form.label :name, "名前", class: "form-label" %><br />
                <%= form.text_field :name, class: "form-control" %>
              </div>
            </li>
            <li class="list-group-item">
              <div class="field">
                <%= form.label :description, "説明", class: "form-label" %><br />
                <%= form.text_area :description, class: "form-control" %>
              </div>
            </li>
            <li class="list-group-item">
              <div class="field">
                <%= form.label :start_date, "管理開始日", class: "form-label" %><br />
                <%= form.date_field :start_date, class: "form-control" %>
              </div>
            </li>
            <li class="list-group-item">
              <div class="actions d-flex justify-content-center">
                <%= form.submit "植物を更新", class: "btn btn-success" %>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  <% end %>
</main>
