<main class="p-3">
        <!-- 植物詳細カード -->
  <div class="container">
    <div class="row row-cols-1 justify-content-center">
      <div class="card mb-2 shadow-sm" style="width: auto;">
        <div class="card-header d-flex align-items-center justify-content-between my-0 py-0 ">
          <div class="d-flex align-items-center">
            <%= link_to user_mypage_path(@plant.user.id) do %>
              <%= image_tag @plant.user.image, class: "user-thumbnail rounded-circle" %>
            <% end %>
            <h3><%= @plant.user.nickname %></h3>
          </div>
          <div>
            いいねボタンとブックマークボタンを配置
          </div>
        </div>
        <div class="card-body">
          <div class="d-flex justify-content-center">
          <%= image_tag @plant.image, alt: "植物画像", class: "img-fluid" %>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="plant-info-box d-flex justify-content-between" style="font-size: 12px;">
                <div>植物名<br><%= @plant.name %></div>
                <div>管理開始日<br><%= @plant.start_date %></div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="plant-info-box" style="font-size: 12px;">
                <%= @plant.description %>
              </div>
            </li>
          </ul>
        </div>
      </div>

        <!-- 編集削除ボタン -->
      <% if user_signed_in? && current_user.id == @plant.user.id %>
      <div class="d-flex justify-content-center">
          <%= link_to edit_plant_path(@plant), method: :get, class: "btn btn-success w-100 mb-4" do %>
          <i class="fa-solid fa-seedling" style="color: #ffffff;"></i> 編集する
          <% end %>
          <%= link_to plant_path(@plant), method: :delete, class: "btn btn-danger w-100 mb-4" do %>
          <i class="fa-solid fa-seedling" style="color: #ffffff;"></i> 削除する
          <% end %>
      </div>
      <% end %>
    </div>
  </div>


  <!-- タブ部分 -->
      <ul class="nav nav-tabs nav-fill nav-justified">
        <li class="nav-item">
          <a href="#plants" class="nav-link active" data-bs-toggle="tab"><i class="fa-solid fa-seedling fa-xl"></i>育成記録</a>
        </li>
        <li class="nav-item">
          <a href="#care-records" class="nav-link" data-bs-toggle="tab"><i class="fa-solid fa-camera-retro fa-xl"></i>コメント</a>
        </li>
        <li class="nav-item">
          <a href="#users" class="nav-link" data-bs-toggle="tab"><i class="fa-solid fa-user fa-xl"></i>いいね</a>
        </li>
      </ul>
      
  <!-- タブの中身部分全体 -->
  <div class="tab-content"> 
        <!-- タブの中身（植物一覧） -->
    <div id="plants" class="tab-pane active">
      <div class="row row-cols-3 row-cols-md-4 row-cols-lg-4 row-cols-xl-5 row-cols-xxl-6 bg-light py-2">
				<% @plants.each do |plant| %>
          <div class="col gallery">           
				    <div class="gallery-block">
              <%= link_to plant_path(plant.id) do %>
              <%= image_tag plant.image, alt: "ギャラリー画像", class: "gallery-image" %>
              <% end %>
                <div class="gallery-item-info">
                  <%= link_to user_mypage_path(plant.user.id) do %>
                  <%= image_tag plant.user.image, class: "user-thumbnail rounded-circle" %>
                  <% end %>
                  <%= plant.user.nickname %>
                </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

        <!-- タブの中身（育成記録一覧） -->
        <div id="plants" class="tab-pane active">
        </div>

        <!-- ユーザー一覧（植物一覧） -->
        <div id="users" class="tab-pane">
        </div>
  
  </div> 
</main>

<footer class="text-muted py-5">
  <div class="container">
    <p class="float-end mb-1">
      <a href="#">Back to top</a>
    </p>
    <p class="mb-1">Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
    <p class="mb-0">New to Bootstrap? <a href="/">Visit the homepage</a> or read our <a href="../getting-started/introduction/">getting started guide</a>.</p>
  </div>
</footer>


    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
