<main>
  <!-- 育成記録詳細カード -->
  <div class="container">
    <div class="row row-cols-1 justify-content-center">
      <div class="card mb-2 shadow-sm" style="width: auto;">
        <div class="card-header d-flex align-items-center justify-content-between m-0 p-0">
          <div class="d-flex align-items-center">
            <%= link_to user_path(@carerecord.user.id) do %>
              <%= image_tag @carerecord.user.image, class: "user-thumbnail rounded-circle" %>
            <% end %>
            <div class="pt-2">
              <h6><%= @carerecord.user.nickname %></h6>
            </div>
          </div>
          <div id="follow-button">
            <%= render 'relationships/follow_button', user: @user %>
          </div>
        </div>
        <%= image_tag @carerecord.image, alt: "植物画像", class: "img-fluid" %>
                  <div class="d-flex align-items-center  justify-content-end">
            <div id="carerecord-likes-btn">
              <%= render 'likes/carerecord_likes' %>
            </div>
          </div>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="plant-info-box d-flex justify-content-between">
                <div style="font-size:14px;">植物名 : <%= @carerecord.plant.name %></div>
              </div>
            </li>
            <li class="list-group-item">
              <div style="font-size:14px;">
                <div style="font-size:14px;">記録日 : <%= @carerecord.care_date %></div>
              </div>
            <li class="list-group-item">
              <div style="font-size:14px;">
                <%= @carerecord.description %>
              </div>
            </li>
          </ul>
        </div>
              <!-- 編集削除ボタン -->
      <% if user_signed_in? && current_user.id == @carerecord.user.id %>
        <div class="d-flex justify-content-center">
          <%= link_to edit_care_record_path(@carerecord), method: :get, class: "btn btn-success w-100 mb-2" do %>
            編集する
          <% end %>
          <%= link_to care_record_path(@carerecord), method: :delete, class: "btn btn-danger w-100 mb-2", data: { confirm: '本当に削除しますか？' } do %>
            削除する
          <% end %>
        </div>
      <% end %>
      </div>
    </div>
  </div>

  <!-- タブ部分 -->
  <ul class="nav nav-tabs nav-fill nav-justified">
    <li class="nav-item">
      <a href="#comments" class="nav-link active" data-bs-toggle="tab"><i class="fa-solid fa-comment fa-xl"></i></a>
    </li>
    <li class="nav-item">
      <a href="#likes" class="nav-link" data-bs-toggle="tab"><i class="fa-solid fa-heart fa-xl"></i></a>
    </li>
  </ul>

  <!-- タブの中身部分全体 -->
  <div class="tab-content">
    <!-- タブの中身（コメント一覧） -->
    <div id="comments" class="tab-pane active bg-light">
      <% if user_signed_in? %>
        <%= render 'comments/form', commentable: @carerecord %>
      <% else %>
        <%= link_to 'ログインしてコメントする', new_user_session_path %>
      <% end %>
      <%= render 'comments/comments', comments: @carerecord.comments %>
    </div>

    <!-- いいね一覧（いいね一覧） -->
    <div id="likes" class="tab-pane bg-light">
      <ul class="list-group">
        <li class="list-group-item align-items-center">
        <h5>いいねしたユーザー</h5>
        </li>
        <% @likes.each do |like| %>
          <li class="list-group-item align-items-center">
            <div class="d-flex align-items-center">
              <%= link_to user_path(like.user) do %>
                <%= image_tag like.user.image, class: "user-thumbnail rounded-circle" %>
              <% end %>
              <div class="pt-2">
                <h5><%= like.user.nickname %></h5>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</main>
